*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#38164a, #3a246c);
    color: #fff;
}

a{
    text-decoration: none;
    color: #77ffc0;
    transition: .5s;
}

a:hover{
    color: rgb(63, 157, 135);
}